*{margin:0;padding:0;text-decoration:none;}
ul li{list-style-type:none;}
.space{width:100%;border:0;margin-top:64px;}
div[name="top"]{width:100%;height:60px;border:0;background-color:#2E384A;position:fixed;top:0;}
div[name="log"]{float:left;margin-left:32px;margin-top:8px;font-size:36px;font-weight:700;color:#FFFFFF;}
ul[name="func"]{width:90px;margin-top:35px;padding-left:6px;position:absolute;right:0;}
ul[name="func"] li a{padding-left:6px;border:0;background-color:#2E384A;font-size:12px;font-weight:700;color:#FFFFFF;}
ul[name="t2"]{margin-top:11px;border:1px solid silver;width:90px;padding-left:6px;background-color:silver;padding-bottom:2px;visibility:hidden;}
ul[name="t2"] li a{margin:4px 0 4px 0;background-color:silver;font-weight:300;line-height:26px;}
div[name="contents"]{width:97%;margin:auto;min-height:700px;overflow:inherit;}
p{width:98%;margin-left:1%;margin-top:4px;color:#FF9900;}
span[name="st"]{ display: block;border:0;margin-left: 32px;} 
span[name="ct1"]{background-color:#D2691E;} 
span[name="ct2"]{background-color:#B8860B;} 
span[name="ft"]{width:90px;height:25px;line-height:25px;border-radius:3px;margin-top:8px;font-size:14px;color:#FFFFFF;text-align:center;display: block;border:0;background-color:#9F9F9F;}
font[name=tag]{height:16px;border-radius:8px;line-height:16px;color:red;border:1px solid red;position:relative;margin-left:90px;top:-30px;}
span[name="code"]{;border:1px solid #DFDFDF;padding:4px;display:block;word-wrap:break-word; word-break:break-all; }
font[source="array"]{padding:1px 4px 1px 4px;margin:2px;border-radius:4px;display:inline-block;border:0;background-color:#D2691E;color:#FFFFFF;word-wrap:break-word; word-break:break-all; }
font[source="object"]{padding:1px 4px 1px 4px;margin:2px;border-radius:4px;display:inline-block;border:0;background-color:;color:#FFFFFF;word-wrap:break-word; word-break:break-all; }
div[name="list"]{overflow:scroll;display:block;padding:6px;border:1px solid #F0F8FF;background-color:white;float:right;margin-top:1%;color:#FFFFFF;}
div[name="codeList"]{max-width:75%;display:block;border:0;background-color:white;position:fixed;right:0;top:61px;}
font{display: inline-block;border: 0;}

/* 蒙版样式 */
div[name="maskParent"]{
	border: 1px solid black;
    width: 100%;
    height: 100%;
	padding-left:50px;
	padding-right:50px;
    background-color: #FFFFFF;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    background:rgba(0, 0, 0, 0);
}
div[name="maskParentTag"]{
	border:0;
	width:100%;
	height:100%;
}
div[name="mask"]{
	border: 1px solid black;
    min-width: 250px;
    height: 100%;
	padding-left:50px;
	padding-right:50px;
    background-color: black;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.6);
}

/* 窗口关闭按钮样式 */
div[name="colseBt"]{
    height: 26px;
    width: 26px;
	position: relative;
    top: 0;
    left: 90%;
    border-radius: 13px;
    color: white;
    background-color: red;
	font-size: 26px;
    text-align: center;
    line-height: 26px;
    font-weight: 700;
}
div[name="colseBt"] a{color:#FFFFFF;}]
div[name="colseBt"] a:hover{color:#FFFFFF;}
div[name="noticeBack"]{
	width:500px;
	height:300px;
	border:1px solid yellow;
	opacity:10;
	position: relative;
	top: 35%;
	background-color:#FFFFFF;
}

/* 用户偏好设置样式 */
div[name="setUpBack"]{
	width:500px;
	padding:24px 6px 24px 6px;
	border:0;
	opacity:1;
	position: relative;
	top: 60px;
	background-color:#FFFFFF;
}
