<body>
<link rel="stylesheet" type="text/css" href="http://js.e01.com/static/css/eBug.css" />

<div name=top>
	<div name=log>eBug</div>
	<ul name=func>
		<li name=t1><a href="">关于</a>
			<ul name=t2>
				<li><a href="javascript:logObj.clear()">清空日志</a></li>
				<li><a href="javascript:wget.setSys()">个性设置</a></li>
			</ul>
		</li>
	</ul>
</div>

<div class=space></div>

<div name=contents>
	日志内容显示位置
</div>

<div name=codeList></div>


<script src=http://js.e01.com/static/js/eBugStyle.js></script>
</body>
